
body {
    margin: 0;
    padding: 0;
    background: url(img/imagen2.png) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 50vh;
  }
  
  .inicio {
    width: 280px;
    height: 380px;
    background: #ffffffc2;
    color: #000000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 60px 40px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    border-radius: 30%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .inicio h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
  }
  
  .inicio label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .inicio input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .inicio input[type="text"], 
  .inicio input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000000;
    font-size: 16px;
  }
  
  .inicio input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #120fb8;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
  }
  
  .inicio input[type="submit"]:hover {
    cursor: pointer;
    background: #ff07de;
    color: #000;
  }
